<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="height=device-height,width=device-width,initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
            <link rel="stylesheet" href="{{ asset('stylesheets/css/app.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('images/min/logox64.min.png') }}" />
        <link rel="preload" as="image" href="{{ asset('images/min/oak-tree.min.jpg') }}" />
    </head>
    <body>
        {% block navi %}
            <nav data-sticky-container class="top-navi">
                <div data-sticky data-options="marginTop:0;" data-sticky-on="small">
                    <div class="row align-center">
                        <div class="small-12 columns">
                            <div class="top-bar">
                                <div class="top-bar-left">
                                    <ul class="dropdown menu">
                                        <li><a href="{{ path('homepage') }}"><img src="{{ asset('images/min/logo.min.png') }}" alt=""> Robert Parker</a></li>
                                        <li><a href="https://www.linkedin.com/in/rparker521" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="https://github.com/diaboloshogunate" target="_blank"><i class="fa fa-github"></i></a></li>
                                        <li><a href="https://twitter.com/diaboloshogun" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                    </ul>
                                </div>
                                <div class="top-bar-right align-right">
                                    <ul class="horizontal menu" data-dropdown-menu>
                                        <li><a href="{{ path('services') }}">Services</a></li>
                                        <li><a href="{{ path('blog_list') }}">Blog</a></li>
                                        <li><a href="#" class="accent button estimate-scroll">Hire Me</a></li>
                                    </ul>
                                </div>
                                <a href="#" class="accent expanded button hide-for-medium estimate-scroll">Hire Me</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="spacer"></div>
        {% endblock %}
        {% block body %}{% endblock %}
        {% include "sections/copyright.html.twig" %}
        {% block javascripts %}
            <script src="{{ asset('scripts/app.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
