<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
            <link rel="stylesheet" href="{{ asset('stylesheets/css/app.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('images/min/logox64.min.png') }}" />
    </head>
    <body>
        {% block navi %}
            <nav data-sticky-container class="top-navi">
                <div data-sticky data-options="marginTop:0;" data-sticky-on="small">
                    <div class="row align-center">
                        <div class="small-12 columns">
                            <div class="top-bar">
                                <div class="top-bar-left">
                                    <ul class="dropdown menu">
                                        <li><a href="{{ path('homepage') }}"><img src="{{ asset('images/min/logo.min.png') }}" alt=""> Robert Parker</a></li>
                                    </ul>
                                </div>
                                <div class="top-bar-right align-right">
                                    <ul class="horizontal menu" data-dropdown-menu>
                                        <li><a href="https://www.linkedin.com/in/rparker521" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="https://github.com/yamiko-ninja" target="_blank"><i class="fa fa-github"></i></a></li>
                                        <li><a href="https://twitter.com/yamiko_ninja" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#" class="accent button">Get an Estimate</a></li>
                                    </ul>
                                </div>
                                <a href="#" class="accent expanded button hide-for-medium estimate-scroll">Get an Estimate</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="spacer"></div>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('scripts/app.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
