{% extends 'base.html.twig' %}
{% block title %}WordPress and Symfony Developer in Portland OR - Blog{% endblock %}
{% block body %}
    <section class="row columns" xmlns="http://www.w3.org/1999/html">
        {% for post in posts %}
            <article>
                <h2>{{ post.title }}</h2>
                <p>{{ post.excerpt }}</p>
                <a href="{{ url('blog_view', {slug: post.slug}) }}" class="button">Read More</a>
            </article>
        {% endfor %}
        <ul class="pagination" role="navigation" aria-label="Pagination">
            {% if page > 1 %}
                <li class="pagination-previous">
                    <a href="{{ url('blog_list', {page: page-1}) }}" aria-label="Previous Page">
                        Previous
                        <span class="show-for-sr">page</span>
                    </a>
                </li>
            {% endif %}
            {% for i in 1..pages %}
                {% if page == i %}
                    <li class="current">
                        <span class="show-for-sr">You're on page</span>
                        {{ i }}
                    </li>
                {% else %}
                    <li>
                        <a href="{{ url('blog_list', {page: i}) }}" aria-label="Page {{ i }}">
                            {{ i }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if page < pages %}
                <li class="pagination-next">
                    <a href="{{ url('blog_list', {page: page+1}) }}" aria-label="Next page">
                        Next
                        <span class="show-for-sr">page</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </section>
{% endblock %}
