{% extends 'base.html.twig' %}
{% block title %}Web Applications Developer in Portland OR - WordPress, Drupal, and ASP.NET web development{% endblock %}
{% block body %}
    <nav data-sticky-container class="top-navi">
        <div data-sticky data-options="marginTop:0;" data-sticky-on="small">
            <div class="row align-center">
                <div class="small-12 columns">
                    <div class="top-bar">
                        <div class="top-bar-left">
                            <ul class="dropdown menu">
                                <li><a href="{{ path('homepage') }}"><img src="{{ asset('images/min/logo.min.png') }}" alt=""> Robert Parker</a></li>
                            </ul>
                        </div>
                        <div class="top-bar-right align-right">
                            <ul class="horizontal menu" data-dropdown-menu>
                                <li><a href="https://www.linkedin.com/in/rparker521" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="https://github.com/yamiko-ninja" target="_blank"><i class="fa fa-github"></i></a></li>
                                <li><a href="https://twitter.com/yamiko_ninja" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="accent button">Get an Estimate</a></li>
                            </ul>
                        </div>
                        <a href="#" class="accent expanded button hide-for-medium estimate-scroll">Get an Estimate</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <section class="hero">
        <video src="{{ asset('video/oak-tree-high.mp4') }}" poster="{{ asset('images/min/oak-tree.min.jpg') }}" muted autoplay loop></video>
        <div class="content">
            <div class="row column">
                <h1>
                    I'm a <span>Web Applications Developer</span><br />
                    Located in Portland Oregon
                </h1>
                <div class="smaller-content">
                    <p>
                        I bring together the latest techniques and technologies with over 5 years of experience
                        building cutting edge websites and web applications.
                    </p>
                    <div class="expanded button-group">
                        <a href="tel:5032124131" class="button"><i class="fa fa-phone"></i> Call</a>
                        <a href="sms:3607730963" class="button"><i class="fa fa-mobile"></i> Text</a>
                        <a href="mailto:rparker@yamiko.ninja" class="button"><i class="fa fa-envelope"></i> Email</a>
                        <a class="accent button estimate-scroll"><i class="fa fa-usd"></i> Get an Estimate</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="technologies">
        <div class="row column text-center"><h2>Technologies </h2></div>
        <div class="row text-center align-center">
            <div class="small-4 medium-3 large-expand columns">
                <i class="devicon-git-plain"></i>
                <div>Git</div>
            </div>
            <div class="small-4 medium-3 large-expand columns">
                <i class="devicon-css3-plain"></i>
                <div>HTML5/CSS3</div>
            </div>
            <div class="small-4 medium-3 large-expand columns">
                <i class="devicon-javascript-plain"></i>
                <div>Javascript</div>
            </div>
            <div class="small-4 medium-3 large-expand columns">
                <i class="devicon-csharp-plain"></i>
                <div>C#</div>
            </div>
            <div class="small-4 medium-3 large-expand columns">
                <i class="devicon-php-plain"></i>
                <div>PHP</div>
            </div>
            <div class="small-4 medium-3 large-expand columns">
                <i class="devicon-mysql-plain"></i>
                <div>MySQL</div>
            </div>
            <div class="small-4 medium-3 large-expand columns">
                <i class="devicon-redhat-plain"></i>
                <div>Red Hat</div>
            </div>
        </div>
    </section>
    <section class="libraries">
        <div class="row text-center align-center">
            <div class="small-4 medium-3 large-expand columns">
                <i class="devicon-symfony-plain"></i>
                <div>Symfony</div>
            </div>
            <div class="small-4 medium-3 large-expand columns">
                <i class="devicon-wordpress-plain"></i>
                <div>WordPress</div>
            </div>
            <div class="small-4 medium-3 large-expand columns">
                <i class="devicon-drupal-plain"></i>
                <div>Drupal</div>
            </div>
            <div class="small-4 medium-3 large-expand columns">
                <i class="devicon-dot-net-plain"></i>
                <div>ASP.net</div>
            </div>
            <div class="small-4 medium-3 large-expand columns">
                <i class="devicon-angularjs-plain"></i>
                <div>Angular JS</div>
            </div>
        </div>
    </section>
    <section class="portfolio">
        <div class="slick">
            <article class="case-study">
                <div class="expanded row">
                    <div class="small-12 large-6 column">
                        <img src="{{ asset('images/src/placeholder.jpg') }}" alt="" />
                    </div>
                    <div class="small-12 large-6 column text-center">
                        <h1>Name of project</h1>
                        <p>
                            Pocket Key has a device that allows you to securely make transactions online.
                            The goal of the website is to inform users of Pocket Key and allow them to pre order one.
                            The pre order form is a custom WordPress plugin that has CSRF protection and submits with AJAX.
                            After the initial form submission a confirmation email is sent to the user through sendgrid.
                            They then get a second form to select a color and the option to share on social media platforms.
                            The various settings are managed with a settings page and the submissions can be viewed on a submissions page.
                            On the submissions page an overview is displayed with the google charts api and the individual
                            submissions are in table that can be exported to a CSV file.
                        </p>
                        <a href="" class="hollow primary button">Visit Site</a>
                    </div>
                </div>
            </article>
            <article class="case-study">
                <div class="expanded row">
                    <div class="small-12 large-6 column">
                        <img src="{{ asset('images/src/placeholder.jpg') }}" alt="" />
                    </div>
                    <div class="small-12 large-6 column text-center">
                        <h1>Name of project</h1>
                        <p>
                            Pocket Key has a device that allows you to securely make transactions online.
                            The goal of the website is to inform users of Pocket Key and allow them to pre order one.
                            The pre order form is a custom WordPress plugin that has CSRF protection and submits with AJAX.
                            After the initial form submission a confirmation email is sent to the user through sendgrid.
                            They then get a second form to select a color and the option to share on social media platforms.
                            The various settings are managed with a settings page and the submissions can be viewed on a submissions page.
                            On the submissions page an overview is displayed with the google charts api and the individual
                            submissions are in table that can be exported to a CSV file.
                        </p>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <section class="services">
        <div class="row column">
            <h2>Services</h2>
        </div>
        <div class="row">
            <div class="small-12 medium-6 column">
                <i class="fa fa-mobile"></i>
                <h3>Web Design and Development</h3>
                <p>
                    Get your business known with a new responsive website built from scratch.
                </p>
            </div>
            <div class="small-12 medium-6 column">
                <i class="fa fa-gears"></i>
                <h3>Applications Development</h3>
                <p>
                    Develop applications that run fast and run on any modern device.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="small-12 medium-6 column">
                <i class="fa fa-cloud"></i>
                <h3>API Integration</h3>
                <p>
                    Tie together multiple tools in one central platform
                    so you can save time and focus on what you do best.
                </p>
            </div>
            <div class="small-12 medium-6 column">
                <i class="fa fa-user-secret"></i>
                <h3>Consulting</h3>
                <p>
                    I can review your product for performance and security issues
                    or help you take your tech business to the next level.
                </p>
            </div>
        </div>
    </section>
    <section class="testimonials">
        <div class="row">
            <div class="small-12 medium-6 columns">
                <cite>
                    <img src="{{ asset('images/min/headshot-mark.min.jpg') }}" alt="" />
                    <span>Mark Westcott</span>
                </cite>
                <blockquote>
                    My teaching career was at a standstill due to a long cancer battle.
                    Robert created a beautiful website which
                    almost immediately reignited interest in my performing and teaching reputation.
                    I now receive numerous inquiries about my teaching and other activities and I am as busy as my schedule permits.
                </blockquote>
            </div>
            <div class="small-12 medium-6 columns">
                <cite>
                    <img src="{{ asset('images/min/headshot-susana.min.jpg') }}" alt="" />
                    <span>Susana Serna</span>
                </cite>
                <blockquote>
                    Robert does excellent work in a timely manner.
                    Since they updated my clinic's web page,
                    more patients have called to make appointments and mentioned the web page.
                </blockquote>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="row column">
            <h2>How Can I help?</h2>
            <form action="#">
                <div class="row">
                    <div class="small-12 medium-8 large-6 columns">
                        <div class="row">
                            <div class="small-6 columns">
                                <label for="">
                                    Name
                                    <input type="text" />
                                </label>
                            </div>
                            <div class="small-6 columns">
                                <label for="">
                                    Company
                                    <input type="text" />
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-6 columns">
                                <label for="">
                                    Email
                                    <input type="text" />
                                </label>
                            </div>
                            <div class="small-6 columns">
                                <label for="">
                                    Phone
                                    <input type="text" />
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-6 columns">
                                <label for="">
                                    Service
                                    <select name="">
                                        <option value="">Web Development</option>
                                        <option value="">Application Development</option>
                                        <option value="">API Integration</option>
                                        <option value="">Consulting</option>
                                    </select>
                                </label>
                            </div>
                            <div class="small-6 columns">
                                <label for="">
                                    Timeline
                                    <input type="date" />
                                </label>
                            </div>
                        </div>
                        <label for="">
                            Budget
                            <select name="">
                                <option value="">$2,000 or less</option>
                                <option value="">$2,000 - $5,000</option>
                                <option value="">$5,000 - $10,000</option>
                                <option value="">$10,000 - $25,000</option>
                                <option value="">$25,000 - $50,000</option>
                                <option value="">$50,000 or more</option>
                            </select>
                        </label>
                        <label for="">
                            Attach a file?
                            <input type="file">
                        </label>
                    </div>
                    <div class="small-12 medium-4 large-6 columns">
                        <label for="">
                            Details
                            <textarea name="" id="" cols="30" rows="10"></textarea>
                        </label>
                    </div>
                </div>
                <div class="text-center">
                    <input type="submit" value="get started" class="accent button">
                </div>
            </form>
        </div>
    </footer>
    <footer class="copyright">
        <div class="row column">
            <small>&copy; 2016 all rights reserved. <a href="#">Privacy Policy</a> - <a href="#">Terms and Conditions</a></small>
        </div>
    </footer>
{% endblock %}
