<footer class="footer">
    <div class="row column">
        <h2>How Can I help?</h2>
        {{ form_start(form, { attr: {novalidate: 'novalidate'} }) }}
        {% form_theme form 'form/foundation.html.twig' %}
            {{ form_errors(form) }}
            <div class="row">
                <div class="small-12 medium-8 large-6 columns">
                    <div class="row">
                        <div class="small-6 columns">
                            {{ form_row(form.name) }}
                            {{ form_errors(form.name) }}
                        </div>
                        <div class="small-6 columns">
                            {{ form_row(form.company) }}
                            {{ form_errors(form.company) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-6 columns">
                            {{ form_row(form.email) }}
                            {{ form_errors(form.email) }}
                        </div>
                        <div class="small-6 columns">
                            {{ form_row(form.phone) }}
                            {{ form_errors(form.phone) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-6 columns">
                            {{ form_row(form.service) }}
                            {{ form_errors(form.service) }}
                        </div>
                        <div class="small-6 columns">
                            {{ form_row(form.timeline) }}
                            {{ form_errors(form.timeline) }}
                        </div>
                    </div>
                    <label for="">
                        {{ form_row(form.budget) }}
                        {{ form_errors(form.budget) }}
                    </label>
                    <label for="">
                        {{ form_row(form.attachment) }}
                        {{ form_errors(form.attachment) }}
                    </label>
                </div>
                <div class="small-12 medium-4 large-6 columns">
                    {{ form_row(form.details) }}
                    {{ form_errors(form.details) }}
                </div>
            </div>
            <div class="text-center">
                <input type="submit" value="get started" class="accent button">
            </div>
        {{ form_end(form) }}
    </div>
</footer>