<section class="portfolio">
    <div class="slick">
        <!-- pocket key -->
        <article class="case-study">
            <div class="expanded row">
                <div class="small-12 medium-6 large-7 column">
                    <div class="portfolio-slider">
                        <img src="{{ asset('images/min/pocket-key-12x8.min.png') }}" alt="">
                        <img src="{{ asset('images/min/pocket-key-graphs-12x8.min.png') }}" alt="">
                        <img src="{{ asset('images/min/pocket-key-settings-12x8.min.png') }}" alt="">
                        <img src="{{ asset('images/min/pocket-key-submissions-12x8.min.png') }}" alt="">
                    </div>
                    <div class="portfolio-nav">
                        <img src="{{ asset('images/min/pocket-key-12x8.min.png') }}" alt="">
                        <img src="{{ asset('images/min/pocket-key-graphs-12x8.min.png') }}" alt="">
                        <img src="{{ asset('images/min/pocket-key-settings-12x8.min.png') }}" alt="">
                        <img src="{{ asset('images/min/pocket-key-submissions-12x8.min.png') }}" alt="">
                    </div>
                </div>
                <div class="small-12 medium-6 large-5 column">
                    <h1>Pocket Key</h1>
                    <p>
                        Pocket Key offers a device to help user make more secure transactions online.
                        I worked with Dorey Design Group to modify a premium theme purchased from themeforest to match the design in photoshop.
                    </p>
                    <p>
                        My main responsibility was the development of a plugin to handle the pre registrations.
                        The form is a two step form protected with CSRF protection.
                    </p>
                    <p>
                        After submitting the form the data is stored in the database.
                        The data can be viewed cia the admin menu and includes charts displayed with the google charts API.
                        The data can be exported as a CSV file.
                    </p>
                    <p>
                        The user receives an email when signing up and is given he opportunity to share info about pocket key on various social media platforms.
                        The email content can be changed via the plugins configuration page.
                    </p>
                    <a href="http://pocketkey.com/" class="hollow primary button">Visit Site</a>
                </div>
            </div>
        </article>
        <!-- Seattle City Club -->
        <article class="case-study">
            <div class="expanded row">
                <div class="small-12 medium-6 large-7 column">
                    <div class="portfolio-slider">
                        <img src="{{ asset('images/min/seattlecityclub-home-12x8.min.png') }}" alt=""/>
                        <img src="{{ asset('images/min/seattlecityclub-home2-12x8.min.png') }}" alt=""/>
                        <img src="{{ asset('images/min/seattlecityclub-innerpage-12x8.min.png') }}" alt=""/>
                        <img src="{{ asset('images/min/seattlecityclub-member-12x8.min.png') }}" alt=""/>
                        <img src="{{ asset('images/min/seattlecityclub-event-12x8.min.png') }}" alt=""/>
                        <img src="{{ asset('images/min/seattlecityclub-events-12x8.min.png') }}" alt=""/>
                        <img src="{{ asset('images/min/seattlecityclub-donate-12x8.min.png') }}" alt=""/>
                    </div>
                    <div class="portfolio-nav">
                        <img src="{{ asset('images/min/seattlecityclub-home-12x8.min.png') }}" alt=""/>
                        <img src="{{ asset('images/min/seattlecityclub-home2-12x8.min.png') }}" alt=""/>
                        <img src="{{ asset('images/min/seattlecityclub-innerpage-12x8.min.png') }}" alt=""/>
                        <img src="{{ asset('images/min/seattlecityclub-member-12x8.min.png') }}" alt=""/>
                        <img src="{{ asset('images/min/seattlecityclub-event-12x8.min.png') }}" alt=""/>
                        <img src="{{ asset('images/min/seattlecityclub-events-12x8.min.png') }}" alt=""/>
                        <img src="{{ asset('images/min/seattlecityclub-donate-12x8.min.png') }}" alt=""/>
                    </div>
                </div>
                <div class="small-12 medium-6 large-5 column">
                    <h1>Seattle City Club</h1>
                    <p>
                        Seattle City Club is a civil rights group located in Seattle WA.
                        People can get access to exclusive events by becoming a member of their group through their website.
                    </p>
                    <p>
                        Memberships and events are managed with a CRM called CiviCRM.
                        I asisted with migrating their old CRM data into the curent site and integrating the registration forms into the main site.
                    </p>
                    <p>
                        The theme was developed by a team of developers including myself.
                    </p>
                    <a href="http://pocketkey.com/" class="hollow primary button">Visit Site</a>
                </div>
            </div>
        </article>
        <!-- NWCG -->
        <article class="case-study">
            <div class="expanded row">
                <div class="small-12 medium-6 large-7 column">
                    <div class="portfolio-slider">
                        <img src="{{ asset('images/min/nwcg-about-12x8.min.png') }}" alt="">
                        <img src="{{ asset('images/min/nwcg-advantage-12x8.min.png') }}" alt="">
                        <img src="{{ asset('images/min/nwcg-blogs-12x8.min.png') }}" alt="">
                        <img src="{{ asset('images/min/nwcg-blog-12x8.min.png') }}" alt="">
                        <img src="{{ asset('images/min/nwcg-contact-12x8.min.png') }}" alt="">
                        <img src="{{ asset('images/min/nwcg-home-12x8.min.png') }}" alt="">
                        <img src="{{ asset('images/min/nwcg-listing-12x8.min.png') }}" alt="">
                        <img src="{{ asset('images/min/nwcg-mobile-12x8.min.png') }}" alt="">
                        <img src="{{ asset('images/min/nwcg-portfolio-12x8.min.png') }}" alt="">
                    </div>
                    <div class="portfolio-nav">
                        <img src="{{ asset('images/min/nwcg-about-12x8.min.png') }}" alt="">
                        <img src="{{ asset('images/min/nwcg-advantage-12x8.min.png') }}" alt="">
                        <img src="{{ asset('images/min/nwcg-blogs-12x8.min.png') }}" alt="">
                        <img src="{{ asset('images/min/nwcg-blog-12x8.min.png') }}" alt="">
                        <img src="{{ asset('images/min/nwcg-contact-12x8.min.png') }}" alt="">
                        <img src="{{ asset('images/min/nwcg-home-12x8.min.png') }}" alt="">
                        <img src="{{ asset('images/min/nwcg-listing-12x8.min.png') }}" alt="">
                        <img src="{{ asset('images/min/nwcg-mobile-12x8.min.png') }}" alt="">
                        <img src="{{ asset('images/min/nwcg-portfolio-12x8.min.png') }}" alt="">
                    </div>
                </div>
                <div class="small-12 medium-6 large-5 column">
                    <h1>Northwest Commercial Group</h1>
                    <p>
                        Northwest Commercial Group sells commercial properties in northern Washington.
                    </p>
                    <p>
                        The site is built on the WordPress platform using a custom responsive theme.
                        The theme makes use of the twig templating engine and a handful of Symfony components.
                    </p>
                    <a href="http://markwestcottpianist.com/" class="hollow primary button">Visit Site</a>
                </div>
            </div>
        </article>
        <!-- Bush Cooking -->
        <article class="case-study">
            <div class="expanded row">
                <div class="small-12 medium-6 large-7 column">
                    <div class="portfolio-slider">
                        <img src="{{ asset('images/min/bushcooking-home-12x8.min.png') }}" alt="">
                        <img src="{{ asset('images/min/bushcooking-home2-12x8.min.png') }}" alt="">
                        <img src="{{ asset('images/min/bushcooking-articles-12x8.min.png') }}" alt="">
                        <img src="{{ asset('images/min/bushcooking-article-12x8.min.png') }}" alt="">
                        <img src="{{ asset('images/min/bushcooking-recipes-12x8.min.png') }}" alt="">
                        <img src="{{ asset('images/min/bushcooking-recipe-12x8.min.png') }}" alt="">
                        <img src="{{ asset('images/min/bushcooking-about-12x8.min.png') }}" alt="">
                    </div>
                    <div class="portfolio-nav">
                        <img src="{{ asset('images/min/bushcooking-home-12x8.min.png') }}" alt="">
                        <img src="{{ asset('images/min/bushcooking-home2-12x8.min.png') }}" alt="">
                        <img src="{{ asset('images/min/bushcooking-articles-12x8.min.png') }}" alt="">
                        <img src="{{ asset('images/min/bushcooking-article-12x8.min.png') }}" alt="">
                        <img src="{{ asset('images/min/bushcooking-recipes-12x8.min.png') }}" alt="">
                        <img src="{{ asset('images/min/bushcooking-recipe-12x8.min.png') }}" alt="">
                        <img src="{{ asset('images/min/bushcooking-about-12x8.min.png') }}" alt="">
                    </div>
                </div>
                <div class="small-12 medium-6 large-5 column">
                    <h1>Bush Cooking</h1>
                    <p>
                        Bush cooking in a cooking blog focused on outdoor cooking.
                    </p>
                    <p>
                        The site is built on the WordPress platform using a custom responsive theme.
                        The theme makes use of the twig templating engine and a handful of Symfony components.
                    </p>
                    <p>
                        The various recipes use microdata to improve their listing in search engines such as google.
                    </p>
                    <a href="http://markwestcottpianist.com/" class="hollow primary button">Visit Site</a>
                </div>
            </div>
        </article>
        <!-- Mark Westcott Pianist -->
        <article class="case-study">
            <div class="expanded row">
                <div class="small-12 medium-6 large-7 column">
                    <div class="portfolio-slider">
                        <img src="{{ asset('images/min/markwestcottpianist-home-12x8.min.png') }}" alt="">
                        <img src="{{ asset('images/min/markwestcottpianist-home2-12x8.min.png') }}" alt="">
                        <img src="{{ asset('images/min/markwestcottpianist-bio-12x8.min.png') }}" alt="">
                        <img src="{{ asset('images/min/markwestcottpianist-testimonials-12x8.min.png') }}" alt="">
                        <img src="{{ asset('images/min/markwestcottpianist-recordings-12x8.min.png') }}" alt="">
                    </div>
                    <div class="portfolio-nav">
                        <img src="{{ asset('images/min/markwestcottpianist-home-12x8.min.png') }}" alt="">
                        <img src="{{ asset('images/min/markwestcottpianist-home2-12x8.min.png') }}" alt="">
                        <img src="{{ asset('images/min/markwestcottpianist-bio-12x8.min.png') }}" alt="">
                        <img src="{{ asset('images/min/markwestcottpianist-testimonials-12x8.min.png') }}" alt="">
                        <img src="{{ asset('images/min/markwestcottpianist-recordings-12x8.min.png') }}" alt="">
                    </div>
                </div>
                <div class="small-12 medium-6 large-5 column">
                    <h1>Mark Westcott Pianist</h1>
                    <p>
                        Mark Westcott was a world renown classical pianist from Portland OR.
                        His performing career came to an end due to focal dystonia so he moved back to his hometown to teach.
                    </p>
                    <p>
                        I built his website to help him build his reputation as a teacher in the local area.
                        Since the development of his website he his studio has grown significantly and his schedule is usually full.
                    </p>
                    <p>
                        After the development of the website I assisted mark with social media by managing his facebook page and uploading some of his recordings to youtube.
                    </p>
                    <p>
                        I helped him self publish His autobiography via Lulu books and is available for order in all most any store.
                    </p>
                    <a href="http://markwestcottpianist.com/" class="hollow primary button">Visit Site</a>
                </div>
            </div>
        </article>
    </div>
</section>