<section class="portfolio">
    <div class="expanded collapse row small-up-2 medium-up-3 large-up-4">
        <div class="column">
            <img src="{{ asset('images/min/hangry-thumb-2017-04-16.min.png') }}" alt="">
            <a href="https://hangrykits.com/" target="_blank" rel="nofollow" class="hover">
                <h4>Hangry Kits</h4>
            </a>
        </div>
        <div class="column">
            <img src="{{ asset('images/min/nwcg-thumb.min.png') }}" alt="">
            <a href="http://nwcommercialgroup.com/" target="_blank" rel="nofollow" class="hover">
                <h4>Northwest Commercial Group</h4>
            </a>
        </div>
        <div class="column">
            <img src="{{ asset('images/min/aphmau-thumb-2017-04-16.min.png') }}" alt="">
            <a href="https://aphmau.com/" target="_blank" rel="nofollow" class="hover">
                <h4>Aphmau</h4>
            </a>
        </div>
        <div class="column">
            <img src="{{ asset('images/min/bush-cooking-thumb-2017-04-16.min.png') }}" alt="">
            <a href="https://bushcooking.com/" target="_blank" rel="nofollow" class="hover">
                <h4>Bush Cooking</h4>
            </a>
        </div>
        <div class="column">
            <img src="{{ asset('images/min/seattlecityclub-thumb.min.png') }}" alt="">
            <a href="https://seattlecityclub.org/" target="_blank" rel="nofollow" class="hover">
                <h4>Seattle City Club</h4>
            </a>
        </div>
        <div class="column">
            <img src="{{ asset('images/min/pocket-key-thumb.min.png') }}" alt="">
            <a href="http://pocketkey.com/" target="_blank" rel="nofollow" class="hover">
                <h4>Pocket Key</h4>
            </a>
        </div>
        <div class="column">
            <img src="{{ asset('images/min/element-residential-thumbnail-2017-04.min.png') }}" alt="">
            <a href="http://element-residential.com/"  target="_blank" rel="nofollow"class="hover">
                <h4>Element Residential</h4>
            </a>
        </div>
        <div class="column">
            <img src="{{ asset('images/min/markwestcottpianist-thumb.min.png') }}" alt="">
            <a href="http://markwestcottpianist.com/" target="_blank" rel="nofollow" class="hover">
                <h4>Mark Westcott</h4>
            </a>
        </div>
        <div class="column">
            <img src="{{ asset('images/min/lucent-thumb-2017-04-16.min.png') }}" alt="">
            <a href="http://lucent.wpengine.com/" target="_blank" rel="nofollow" class="hover">
                <h4>Lucent</h4>
            </a>
        </div>
        <div class="column">
            <img src="{{ asset('images/min/rdentistry-thumb-2017-04-16.min.png') }}" alt="">
            <a href="http://rdentistry.wpengine.com/" target="_blank" rel="nofollow" class="hover">
                <h4>Redmond Dentistry</h4>
            </a>
        </div>
        <div class="column">
            <img src="{{ asset('images/min/penrose-thumb-2017-04-16.min.png') }}" alt="">
            <a href="https://penrosept.com/" target="_blank" rel="nofollow" class="hover">
                <h4>Penrose</h4>
            </a>
        </div>
        <div class="column">
            <img src="{{ asset('images/min/markmagic-thumb-2017-04-16.min.png') }}" alt="">
            <a href="http://www.markschaefermagic.com/" target="_blank" rel="nofollow" class="hover">
                <h4>Mark Magic</h4>
            </a>
        </div>
    </div>
</section>