{% extends '@app/base.html.twig' %}
{% block header %}
    <div class="contain-to-grid sticky">
        <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
            <ul class="title-area">
                <li class="name">
                    <h1>Robert Parker</h1>
                </li>
                <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>

            <section class="top-bar-section">
                <!-- Left Nav Section -->
                <ul class="right">
                    <li><a href="https://www.linkedin.com/in/yamikoninja" target="_blank"><i class="fa fa-linkedin"></i> <span>Linked In</span></a></li>
                    <li><a href="https://github.com/yamiko-ninja" target="_blank"><i class="fa fa-github"></i> <span>Github</span></a></li>
                    <li><a href="https://twitter.com/yamiko_ninja" target="_blank"><i class="fa fa-twitter"></i> <span>Twitter</span></a></li>
                    {#<li><a href="https://www.youtube.com/channel/UCpX-JWACNzzpFGXDwKysoLg" target="_blank"><i class="fa fa-youtube-play"></i> <span>Youtube</span></a></li>#}
                    <li><a href="{{ app.asset_path }}resume.pdf" target="_blank"><i class="fa fa-file-text"></i> <span>Resume</span></a></li>
                    <li><a href="mailto:rparker@yamiko.ninja"><i class="fa fa-envelope"></i> <span>Email</span></a></li>
                </ul>
            </section>
        </nav>
    </div>

    {% for level, messages in app.session.getFlashBag.all %}
        {% for message in messages %}
            <div data-alert class="alert-box {{ level }}">
            {{ message }}
                <a href="#" class="close">&times;</a>
            </div>
        {% endfor %}
    {% endfor %}

    <header class="content text-center" id="header">
        <div class="row">
            <div class="medium-12 columns">
                <h1>{% raw %}Hello {{ name }}{% endraw %}</h1>
                <p><em>My name is Robert Parker and I am a web applications developer in Portland OR.</em></p>
                <p>I enjoy finding solutions to new and challenging problems.</p>
            </div>
        </div>
    </header>

    <section class="content" id="skills">
        <div class="row">
            <div class="medium-12 columns">
                <div class="inline-center">
                    <h2>Skills</h2>
                    <p>
                        <b>Backend: </b> MySQL, PHP, Symfony, Silex, Drupal, WordPress, Doctrine, PHP Unit, Twig, <br />
                        <b>Frontend: </b>Javascript, jQuery, Google Charts, Foundation, Bootstrap, Sass, Less<br />
                        <b>Server: </b> Cent OS, Puppet, Vagrant, virtual Box, Apache, Nginx, Varnish, <br />
                        <b>Tools: </b> Git, Grunt, Composer, Bower, Drush, RVM, <br />
                        <b>Software: </b> MS Word, Adobe Photoshop, Adobe Illustrator, PhpStorm, NetBeans
                    </p>
                    <p class="skills">
                        <em>I am also familiar with C# and ruby.</em>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="content portfolio">
        <div class="row">
            <div class="medium-6 push-6 columns">
                <h2>Pocket Key</h2>
                <p>
                    Pocket Key has a device that allows you to securely make transactions online.
                    The goal of the website is to inform users of Pocket Key and allow them to pre order one.
                    The pre order form is a custom WordPress plugin that has CSRF protection and submits with AJAX.
                    After the initial form submission a confirmation email is sent to the user through sendgrid.
                    They then get a second form to select a color and the option to share on social media platforms.
                    The various settings are managed with a settings page and the submissions can be viewed on a submissions page.
                    On the submissions page an overview is displayed with the google charts api and the individual submissions are in table that can be exported to a CSV file.

                </p>
                <p class="skills">Skills Used: <em>PHP, MySQL, WordPress, Git, Bower, jQuery, Google Charts, AJAX</em></p>
            </div>
            <div class="medium-6 pull-6 columns">
                <a href="https://www.pocketkey.com/" class="disabled" target="_blank" rel="nofollow">
                    <img src="{{ app.asset_path }}pocket-key-2015-09-02.png" alt=""/>
                    <div>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <section class="content portfolio">
        <div class="row">
            <div class="medium-6 columns">
                <h2>Two Sisters</h2>
                <p>
                    The Two Sisters have two membership based sites and wanted to track membership activity.
                    I built them a small silex application that would display the total of new members, renewed members, expired members and
                    would also track conversion rates between the different membership plans.
                    They have the ability to select a date range and the totals would be compared to the previous time range.
                    Because they have so many users and the database was denormalized I had to make heavy use of temporary tables to improve performance.
                </p>
                <p class="skills">Skills Used: <em>PHP, MySQL, Silex, Git, Foundation, Sass, Grunt, Bower, Composer</em></p>
            </div>
            <div class="medium-6 columns">
                <a href="#/" class="disabled" target="_blank" rel="nofollow">
                    <img src="{{ app.asset_path }}thetwosisters-2015-05-06 18-25-32.png" alt=""/>
                    <div>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <section class="content portfolio">
        <div class="row">
            <div class="medium-6 push-6 columns">
                <h2>Bonsai Mirai</h2>
                <p>
                    Bonsai Mirai had an incomplete Drupal site that was hard to use and was not responsive.
                    The site was comprised of many blocks that required them to enter in HTML with the appropriate structure and classes or the site would break.
                    I installed and configured modules so they can edit the blocks with Wysiwyg editors and removed the need for them to add classes to the HTML nodes.
                    Additionally I installed modules so they can edit the blocks while on the page.
                    After that I reorganized the Sass stylesheets and made the site responsive.
                </p>
                <p class="skills">Skills Used: <em>Drupal, Sass, Git, jQuery</em></p>
            </div>
            <div class="medium-6 pull-6 columns">
                <a href="http://bonsaimirai.com/" target="_blank" rel="nofollow">
                    <img src="{{ app.asset_path }}bonsaimirai-2015-05-06 17-38-06.png" alt=""/>
                    <div>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <section class="content portfolio">
        <div class="row">
            <div class="medium-6 columns">
                <h2>Element Residential</h2>
                <p>
                    Element Residential needed a site to show off all of their communities
                    that can also create spin off sites for each of their communities.
                    For each of this spin of sites they need to be able to control the bakcground images, colors and font colors.
                    To accomplish this I set up a number of pages to redirect to a custom tempalte.
                    In this template I loaded in twig, grabbed the community data from the database and rendered the appropriate content.
                    The main site displays the different communities on a map using the Open Layers module.
                </p>
                <p class="skills">Skills Used: <em>Drupal, Open Layers, Omega, Sass, Twig, MySQL, Javascript, jquery, Google Maps, Git</em></p>
            </div>
            <div class="medium-6 columns">
                <a href="http://element-residential.com/" target="_blank" rel="nofollow">
                    <img src="{{ app.asset_path }}element-residential-2015-05-06 18-14-07.png" alt=""/>
                    <div>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <section class="content portfolio">
        <div class="row">
            <div class="medium-6 push-6 columns">
                <h2>Mark Westcott</h2>
                <p>
                    Mark Westcott was a world renown pianist whose career came to an end due to focal dystonia.
                    He moved back to his hometown in Portland OR and started teaching.
                    I built him a website to help him get students and build up his class.
                    The site is the first website I built and it uses a custom built MVC framework I built while I was in college.
                </p>
                <p class="skills">Skills Used: <em>PHP, MySQL, Javascript, jquery, Less, Git</em></p>
            </div>
            <div class="medium-6 pull-6 columns">
                <a href="http://markwestcottpianist.com/" target="_blank" rel="nofollow">
                    <img src="{{ app.asset_path }}markwestcottpianist-2015-05-06 18-20-00.png" alt=""/>
                    <div>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <form class="content" id="contact" method="post" action="#">
        <h3>Contact Me</h3>
        <div class="row">
            <div class="medium-6 columns">
                <label>Name <input type="text" name="name" value="{% if form_name is defined %} {{ form_name }} {% endif %}"/></label>
            </div>
            <div class="medium-6 columns">
                <label>Company <input type="text" name="company" value="{% if form_company is defined %} {{ form_company }} {% endif %}"/></label>
            </div>
        </div>
        <div class="row">
            <div class="medium-6 columns">
                <label>Email <input type="text" name="email" value="{% if form_email is defined %} {{ form_email }} {% endif %}"/></label>
            </div>
        </div>
        <div class="row">
            <div class="medium-12 columns">
                <label>
                    Message
                    <textarea name="message" cols="30" rows="10">{% if form_message is defined %}{{ form_message }}{% endif %}</textarea>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="medium-6 columns">
                <input type="submit" value="Send" class="success button expand"/>
            </div>
        </div>
    </form>

    <footer class="content">
        <div class="row small-collapse">
            <div class="medium-6 large-4 columns">
                <ul class="vcard">
                    <li class="fn">Robert Parker</li>
                    <li class="street-address">3035 NE MLK Jr. Blvd.</li>
                    <li class="street-address">Apt. 307</li>
                    <li class="locality">Portland <span class="state">Oregon</span>, <span class="zip">97236</span></li>
                    <li class="email"><a href="mailto:rparker@yamiko.ninja">rparker@yamiko.ninja</a></li>
                    <li class="phone"><a href="tel:360-773-0963">360-773-0963</a></li>
                </ul>
            </div>
            <div class="medium-6 large-8 columns">
                <div class="google-maps">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2794.2616706389877!2d-122.66168209999998!3d45.545061399999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5495a74788567c6f%3A0x2250bbe7104ba1d!2s3035+NE+Martin+Luther+King+Jr+Blvd%2C+Portland%2C+OR+97212!5e0!3m2!1sen!2sus!4v1430929266159" width="800" height="600" frameborder="0" style="border:0"></iframe>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}